@font-face{
    font-family: "Redressed";
    src: url(../fonts/Redressed/Redressed-Regular.ttf);
}
@font-face{
    font-family: "JosefinSan";
    src: url(../fonts/JosefinSan/JosefinSans-VariableFont_wght.ttf);
}